.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  @media screen and (max-width: 900px) {
    padding: 0.5rem 0.5rem;
  }
  &-remove {
    background-color: $color-secondary-dark;
    &All {
      background-color: $color-secondary-light;
      display: none;
      @media (max-width: 600px) {
        white-space: pre-wrap;
        width: 12rem;
      }
      @media (max-width: 460px) {
        width: 10rem;
      }
      @media (max-width: 420px) {
        width: 9.5rem;
      }
    }
    &:hover {
      background-color: rgba($color-secondary-dark, 0.7);
    }
  }
  &-add {
    background-color: $color-green-light;
    &:hover {
      background-color: rgba($color-green-light, 0.7);
    }
  }
}
.btn_active {
  display: block;
}
.btn_not-active {
  display: none;
}
