.btn{
    border:none;
    border-radius: .5rem;
    padding:1rem 2rem;
    cursor: pointer;
    &-remove{
        background-color: $color-secondary-dark;
        &:hover{
            background-color: rgba($color-secondary-dark,.7);
        }
    }
    &-add{
        background-color: $color-green-light;
        &:hover{
            background-color: rgba($color-green-light,.7);
        }
    }
}